<h1 id="welcome-title">Welcome to Rock, Paper, Scissors</h1>
<h2>Rules</h2>
<ol>
  <li>To play the first hand, type '/' after 'http://localhost:4567' and either 'rock', 'paper' or 'scissors' then press enter.</li>
  <li>To play the second hand, type '/' after the first hand then either 'rock', 'paper' or 'scissors' and press enter.</li>
  <li>Click 'Return' after you have played to return to this page.</li>
</ol>
